﻿@model ProductDetailsModel
@using System.Globalization
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";

    //title, meta
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var productUrl = Url.RouteUrl("Product", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(productUrl);
    }
}
<!--product breadcrumb-->
@Html.Action("ProductBreadcrumb", "Catalog", new { productId = Model.Id })
<div class="page product-details-page">
    <div class="page-body">
        @Html.Widget("productdetails_top")
        @using (Html.BeginRouteForm("Product", new { SeName = Model.SeName }, FormMethod.Post, new { id = "product-details-form" }))
        {
            <div itemscope itemtype="http://schema.org/Product" data-productid="@Model.Id">
                <div class="product-essential">
                    @Html.Widget("productdetails_before_pictures")
                    <!--product pictures-->
                    @Html.Partial("_ProductDetailsPictures", Model)
                    @Html.Widget("productdetails_after_pictures")
                    <div class="overview">
                        <div class="product-name">
                            <h1 itemprop="name">
                                @Model.Name
                            </h1>
                        </div>
                        @if (!String.IsNullOrEmpty(Model.ShortDescription))
                        {
                            <div class="short-description">
                                @Html.Raw(Model.ShortDescription)
                            </div>
                        }
                        @Html.Widget("productdetails_overview_top")
                        <!--product SKU, manufacturer part number, stock info-->
                        @Html.Partial("_SKU_Man_Stock", Model)
                        <!--Back in stock subscription-->
                        @Html.Partial("_BackInStockSubscription", Model)
                        <!--product manufacturers-->
                        @Html.Action("ProductManufacturers", "Catalog", new { productId = Model.Id })
                        <!--product reviews-->
                        @Html.Action("ProductReviewOverview", "Catalog", new { productId = Model.Id })
                        <!--sample download-->
                        @Html.Partial("_DownloadSample", Model)
                        <!--attributes-->
                        @{
                            var dataDictAttributes = new ViewDataDictionary();
                            dataDictAttributes.TemplateInfo.HtmlFieldPrefix = string.Format("attributes_{0}", Model.Id);
                            @Html.Partial("_ProductAttributes", Model.ProductVariantAttributes, dataDictAttributes)                  
                        }
                        <!--gift card-->
                        @{
                            var dataDictGiftCard = new ViewDataDictionary();
                            dataDictGiftCard.TemplateInfo.HtmlFieldPrefix = string.Format("giftcard_{0}", Model.Id);
                            @Html.Partial("_GiftCardInfo", Model.GiftCard, dataDictGiftCard)
                        }
                        <!--price & add to cart-->
                        @{
                            var dataDictPrice = new ViewDataDictionary();
                            dataDictPrice.TemplateInfo.HtmlFieldPrefix = string.Format("price_{0}", Model.Id);
                            @Html.Partial("_ProductPrice", Model.ProductPrice, dataDictPrice)
                            
                            var dataDictAddToCart = new ViewDataDictionary();
                            dataDictAddToCart.TemplateInfo.HtmlFieldPrefix = string.Format("addtocart_{0}", Model.Id);
                            @Html.Partial("_AddToCart", Model.AddToCart, dataDictAddToCart)                    
                        }
                        @Html.Action("ProductEmailAFriendButton", "Catalog", new { productId = Model.Id })
                        @Html.Action("CompareProductsButton", "Catalog", new { productId = Model.Id })
                        @Html.Action("ShareButton", "Catalog")
                        @Html.Widget("productdetails_overview_bottom")
                    </div>
                        @if (Model.ProductCombinations != null)
                        {
                            <div class="full-description" itemprop="description">
                                <div class="product-specs-box">
                                    <div class="title">
                                        <strong>Available dates</strong>
                                    </div>
                                    <table class="data-table">
                                        <colgroup>
                                            <col width="25%" />
                                            <col />
                                        </colgroup>
                                        <thead>
                                            <tr>
                                                <th>Departure Date</th>
                                                <th>First Class Seats</th>
                                                <th>Coach Seats</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.ProductCombinations.Count; i++)
                                            {
                                                var item = Model.ProductCombinations[i];
                                                <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                                                    <td class="a-left spec-name">
                                                        @item.DepartureDate.ToString("d", new CultureInfo("pt-PT"))
                                                    </td>
                                                    <td class="a-left spec-value">
                                                        @item.FirstClassSeats
                                                        <input type="button" id="add-to-FirstClassSeats-button-@i" class="button-1 add-to-cart-button" value="Select" data-productid="@i" onclick="selectCombination(@item.DepartureDate.Day, @item.DepartureDate.Month, @item.DepartureDate.Year, 1);" />
                                                    </td>
                                                    <td class="a-left spec-value">
                                                        @item.CoachSeats
                                                        <input type="button" id="add-to-CoachSeats-button-@i" class="button-1 add-to-cart-button" value="Select" data-productid="@i" onclick="selectCombination(@item.DepartureDate.Day, @item.DepartureDate.Month, @item.DepartureDate.Year, 2);" />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        @if (!String.IsNullOrEmpty(Model.FullDescription))
                        {
                            <div class="full-description" itemprop="description">
                                @Html.Raw(Model.FullDescription)
                            </div>
                        }
                    </div>
                @Html.Widget("productdetails_before_collateral")
                <div class="product-collateral">
                    @Html.Action("ProductTierPrices", "Catalog", new { productId = Model.Id })
                    @Html.Action("ProductSpecifications", "Catalog", new { productId = Model.Id })
                    @*@Html.Action("ProductCombinations", "Catalog", new { productId = Model.Id })*@
                    @Html.Action("ProductTags", "Catalog", new { productId = Model.Id })
                    @Html.Action("ProductsAlsoPurchased", "Catalog", new { productId = Model.Id })
                    @Html.Action("RelatedProducts", "Catalog", new { productId = Model.Id })
                </div>
            </div>
        }
        @Html.Widget("productdetails_bottom")
    </div>
</div>

<script>
    var classSeats = [];
    $("[name="+classSeatsTag+"]").children().map(function() {
        //console.log ($(this).val());
        classSeats.push($(this).val());
    });
    //console.log(classSeatsTag, dateTag, classSeats);

    function selectCombination(dd, mm, yy, seatclass) {
        console.log("select", dd, mm, yy, seatclass);
        $("[name="+dateTag+"_day]").val(dd);
        $("[name="+dateTag+"_month]").val(mm);
        $("[name="+dateTag+"_year]").val(yy);
        $("[name="+classSeatsTag+"]").val(classSeats[seatclass-1]);
        
    }
    //$("[name="+classSeatsTag+"]").each(function() {
    //    // add $(this).val() to your list
    //    console.log($(this).val());
    //});
</script>