﻿@model IList<Nop.Web.Green8.Models.TripSeats>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="product-specs-box">
        <div class="title">
            <strong>@T("Products.Specs")</strong>
        </div>
        <table class="data-table">
            <colgroup>
                <col width="25%" />
                <col />
            </colgroup>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var item = Model[i];
                    <tr @(i % 2 == 0 ? Html.Raw(" class=\"odd\"") : Html.Raw(" class=\"even\""))>
                        <td class="a-left spec-name">
                            @item.DepartureDate.ToString("d", new System.Globalization.CultureInfo("pt-PT"))
                        </td>
                        <td class="a-left spec-value">
                            @item.FirstClassSeats
                        </td>
                        <td class="a-left spec-value">
                            @item.CoachSeats
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}